.THIS .zyz-section {
    margin-bottom: 20px;
}

.THIS .zyz-button {
    float: right;
    margin-top: -4rem;
    margin-right: 1rem;
}

.THIS .zyz-content {
    border: 1px solid #ddd;
    height: calc(100vh - 240px);
    width: 100%;
    background: transparent;
}